body{
  background-size: 70px 70px;
  background-repeat: repeat-y;
  background-position: right top;
  padding: 15px 95px 15px 15px;
  font-family: Comic Sans MT;
  background-color: #720000;
  color: white;
}

#cimkep{
  float:left;  
}

#erdekesseg{
  width:450px;
  float:right;
  margin: 0px 0px 20px 15px;
  background-color: #ffffcc;
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  border: 2px white solid;

}
h2{
  text-decoration: underline;
  font-size: 18px;
}
h1{
  font-size:30pt;
  color:#720000;

}

.jobbra{
  text-align: right;
  float:right;
  border-style:dashed;
  margin:15px;
  height: auto;
}


.keret{
  font-size: 90%;
  padding: 7px;
  font-weight: normal;
  color:#720000;
}

li{
  font-weight:bold;
}

.fejlec{
  background-color: white;
  border: 4px #720000 dashed;
  text-align: center;
  position: relative;
}
.alja{
  background-color: white;
  border: 4px black   dashed;
  color:#720000 ;
}
a{
  color: white;
  text-decoration: underline;
}
#lista{
  font-weight: bold;
  text-decoration: underline;
}
li{
  list-style-image: url(./jel.png);
}